<div class="main">
<h1>Hacker Club Valentines!</h1>
<div class="explanation">
How this works: Put in your gender and what you are looking for, and we will set you up with a total no-commitment Dinner
    Date on Valentines. We will do our best to blitz out matches by 4pm, so you can figure things out.
    Put your cell phone into comments if you won't have access to new Blitz.
    We will not share this with anyone but your date, although like all Hacker Club things, there is no warranty at all that no one hacks this.
</div>
<div class="flash"><%= flash[:notice] %></div>
<%= form_for  @person  do |f|%>
<div class="valentines">
    I am a <%= f.select(:gender, [["Female looking for a Male","fm"],
                                  ["Male looking for a Female", "mf"],["Male looking for a Male","mm"], ["Female looking for a Female","ff"]] ) %>   <%= f.submit "Save"%>

</div>
<% end %>
</div>